#map {
    height: 400px;
    width: 80%;
    margin: 30px auto;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tarjeta {
    background-color: black;
}

#map {
    height: 100%;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 100px;
}

.tarjeta {
    background-color: black;
}

.reporte {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}